/* Styles */

.head-container {
  color: black;
  background-color: white;
  grid-template-rows: 4em auto;
  top: 0;
  font-weight: bold;
}

.head1 {
  display: flex;
  align-items: center;
}

.head1:hover {
  cursor: pointer;
}

.head {
  align-items: center;
}

.review-button {
  padding: 0;
}

.head:hover {
  animation: tag-hover-forward 0.1s linear;
  animation-fill-mode: forwards;
  text-decoration: underline;
}

.logo {
  grid-column-start: 1;
  max-height: 100%;
  justify-self: right;
}

.home {
  grid-column-start: 9;
  justify-self: right;
  height: 2em;
}

.title {
  grid-column-start: 2;
  font-size: 3em;
  justify-self: left;
  align-self: flex-end;
  /* padding-bottom: 5px; */
}

.browse {
  grid-column-start: 10;
  justify-self: right;
  height: 2em;
}

.tag {
  grid-column: 4 / 8;
}

.tag-text {
  margin: 10px 0 0 0;
}

.button {
  border: solid 1px;
  border-color: #0090d1;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 5em;
  padding: 20px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #01a647;
}

.filled-button {
  background-color: #01a647;
}

.nav-icon-container {
  grid-row-start: 2;
  grid-column-start: span 12;
  border-bottom: solid 1px;
  border-style: double;
  /* background-color: #65666a; */
  height: 1px;
}

/* Animations */

@keyframes tag-hover-forward {
  from {
    height: 2em;
  }

  to {
    height: 3em;
  }
}
