/* Styles */

.head-container {
  color: black;
  background-color: white;
  grid-template-rows: 4em auto;
  top: 0;
  font-weight: bold;
}

.head1 {
  display: flex;
  align-items: center;
}

.head1:hover {
  cursor: pointer;
}

.head {
  align-items: center;
}

.head:hover {
  animation: tag-hover-forward 0.1s linear;
  animation-fill-mode: forwards;
  text-decoration: underline;
}

.logo {
  grid-column-start: 3;
}

.title {
  grid-column-start: 4;
  font-size: 2em;
}

.browse {
  grid-column-start: 7;
  justify-self: right;
  height: 2em;
}

.top-ten {
  grid-row-start: 1;
  grid-column-start: 8;
  justify-self: right;
  height: 2em;
}

.divide2 {
  grid-column-start: 8;
}

.button {
  border: solid 1px;
  border-color: #0090d1;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  width: 5em;
  padding: 20px;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.filled-button {
  background-color: #01a647;
}

.nav-icon-container {
  grid-row-start: 2;
  grid-column-start: span 12;
  border-bottom: solid 1px;
  border-style: double;
  /* background-color: #65666a; */
  height: 1px;
}

/* Animations */

@keyframes tag-hover-forward {
  from {
    height: 2em;
  }

  to {
    height: 3em;
  }
}
