$rsm-green: #01a647;
$rsm-blue: #0090d1;
$rsm-grey: #65666a;
$mp: 20px;
$border: solid 1px;
$border-rad: 16px;
$z1: 1;
$z: 0;
$z-1: -1;
$fonts: "Ubuntu", sans-serif;
$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  font: $fonts;
  text-align: center;
  scroll-behavior: smooth;
}

.main-bg-color {
  /* background-color: rgb(206, 206, 206); */
  background-image: linear-gradient($rsm-green, $rsm-blue);
  height: 100%;
}

/* Background Color */

.background-blue {
  background-color: $rsm-blue;
}

.background-green {
  background-color: $rsm-green;
}

.background-grey {
  background-color: $rsm-grey;
}

.background-white {
  background-color: white;
}

.background-beer {
  background-image: url("../assets/Beer-flight.jpeg");
}

/* Height */

.height-auto {
  height: auto;
}

.height-25vh {
  height: 25vh;
}

.height-50vh {
  height: 50vh;
}

.height-100vh {
  height: 100vh;
}

.height-100prcnt {
  height: 100%;
}

/* Width */

.width-auto {
  width: auto;
}

.width-full {
  width: 100vw;
}

.width-100prcnt {
  width: 100%;
}

/* Positions */
.sticky {
  position: sticky;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

/* Z-Index */

.z0 {
  z-index: $z;
}

.z1 {
  z-index: $z1;
}

.z-1 {
  z-index: $z-1;
}

/*Grid Combos */
.grid-display {
  display: grid;
}

.grid-col-full {
  grid-template-columns: 20% 60% 20%;
}

.grid-col-auto {
  grid-template-columns: auto;
}

.grid-row-auto {
  grid-template-rows: auto;
}

.grid-col-2 {
  grid-template-columns: 50% 50%;
}

.grid-row-2 {
  grid-template-rows: 50% 50%;
}

.grid-col-start-1 {
  grid-column-start: 1;
}

.grid-col-start-2 {
  grid-column-start: 2;
}

.grid-row-start-1 {
  grid-row-start: 1;
}

.grid-row-start-2 {
  grid-row-start: 2;
}

.grid-row-start-auto {
  grid-row-start: auto;
}

/* Flex */

.flex-display {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

/* Justify and Align */

.justify-center {
  justify-content: center;
}

.align-center {
  align-content: center;
}

.justify-center-self {
  justify-self: center;
}

.align-center-self {
  align-self: center;
}

.justify-left {
  justify-content: left;
}

.justify-left-self {
  justify-self: left;
}

.justify-right {
  justify-content: right;
}

.justify-right-self {
  justify-self: right;
}

.flex-align-start {
  align-self: flex-start;
}

.flex-align-end {
  align-self: flex-end;
}

.flex-justify-start {
  justify-self: flex-start;
}

.flex-justify-end {
  justify-self: flex-end;
}

/* Margins */

.margin-full {
  margin: $mp;
}

.margin-top {
  margin-top: $mp;
}

.margin-bottom {
  margin-bottom: $mp;
}

.margin-left {
  margin-left: $mp;
}

.margin-right {
  margin-right: $mp;
}

.marginless {
  margin: 0px;
}

/* Padding */

.paddingless {
  padding: 0;
}

.padding-full {
  padding: $mp;
}

.padding-left {
  padding-left: $mp;
}

.padding-right {
  padding-right: $mp;
}

.padding-top {
  padding-top: $mp;
}

.padding-bottom {
  padding-bottom: $mp;
}

/* Border */

.border {
  border: $border;
}

.border-blue {
  border-color: $rsm-blue;
}

.border-green {
  border-color: $rsm-green;
}

.border-grey {
  border-color: $rsm-grey;
}

.border-bottom {
  border-bottom: solid 1px;
}

.border-top {
  border-top: solid 1px;
}

.border-left {
  border-left: solid 1px;
}

.border-right {
  border-right: solid 1px;
}

/* Box Shadow */

.box-shadow {
  box-shadow: $box-shadow;
}

/* Text */

.underline {
  text-decoration: underline;
}

.no-text-decor {
  text-decoration: none;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.text-size-header {
  font-size: 5em;
}

.overflow-hidden-x {
  overflow-x: hidden;
}

.overflow-hidden-y {
  overflow-y: hidden;
}

.hidden {
  visibility: hidden;
}

.test {
  background-color: red;
}

/* Animations */

@keyframes list-grow {
  from {
  }
  to {
    background-color: rgb(101, 102, 106, 0.75);
    visibility: visible;
  }
}

@keyframes pic-move {
  from {
  }

  to {
    background-size: 200%;
  }
}

@keyframes pic-reset {
  from {
    background-size: 200%;
  }
  to {
    background-size: 100%;
  }
}

@keyframes box-shadow-grow {
  from {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
  }

  to {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}
