.landing-container {
  grid-template-columns: 20vw 60vw 20vw;
  grid-gap: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.split {
  background-image: url("../assets/Beer-flight.jpeg");
  background-size: 120%;
  background-position-y: -200px;
  background-position-x: -90px;
  background-repeat: no-repeat;
}

.welcome {
  border: inset 5px;
  border-radius: 105%;
}

.text {
  padding: 20px;
  border-radius: 1%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-text-stroke: 1px white;
}

.img {
  justify-self: center;
  align-self: center;
  max-width: 20vw;
  height: 30vh;
  width: 20vw;
  border-style: inset;
  border-width: 3px;
  border-color: rgb(101, 102, 106, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-img {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: 1;
}

.left-img {
  grid-column-start: 1;
}

.text-body {
  line-height: 1.5;
}
